*{
  padding: 0;
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  /*padding: 20px;*/
}

.main{
  width: 100vw;
  height: 100vh;
  background: #9e8aab;
  /*padding: 20px;*/
}

.layout{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 100%;
  height: 100%;
  position: relative;
}

.wrapper{
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.explain{
  color: white;
  font-size: 20px;
}


.subtitle{
  color: white;
  font-size: 20px;
  text-align: center;
}

.url{
  color: white;
  font-weight: bold;
  font-size: 25px;
}




